.pricing_top {
    text-align: center;
    background-color: #faac36e4;
    height: 200px;
    padding: 30px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.para {
    font-family: cursive;
}

.pricing_top h1 {
    color: #fff;
    line-height: 28px;
    margin-bottom: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pricing_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
    width: 85%;
    position: relative;
    left: 80px;


}

.pricing_item,
.pricing_item-02,
.pricing_item-03 {
    height: auto;
}



.pricing_item {
    box-shadow: rgba(116, 10, 10, 0.15) 0px 5px 15px 0px;
    border-radius: 5px;
    width: 33%;
    background: #ffffff;
    border: 2px solid black;
    transition: .3s;
}

.pricing_card-top {
    padding: 30px;
    border-bottom: 3px solid #000000;
    text-align: center;
    color: #fff;

}

/*  font for regular member*/

.pricing_card-top h2 {
    font-size: 1.5 rem;
    font-family: cursive;
    margin-bottom: 0.9rem;



}

.pricing_card-top .pricing span {
    color: #666;
    font-size: 1rem;
}

.pricing_item .services {
    padding: 30px;
}

/* font for description*/
.pricing_item .services ul li {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    color: #000000;
    line-height: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.pricing_item .services ul li span i {
    font-size: 0.7rem;
}

.services {
    text-align: center;
}

.services button {
    margin-top: 50px;
}

.pricing_item-02 .pricing_card-top {
    background-color: rgb(255, 255, 255);
    border-radius: 5px 5px 0px 0px;
}

.pricing_item .pricing_card-top {
    background-color: #fe9e0d;
    border-radius: 0px;
}

.pricing_item-03 .pricing_card-top {
    background-color: #fe9e0d;
    border-radius: 0px;
}


.pricing_item-02 .pricing_card-top h2 {
    color: #fff;
    font-weight: 500;

}

.pricing_item-03 .pricing_card-top h2 {
    color: #fff;
    font-weight: 500;

}

.pricing_item .pricing_card-top h2 {
    color: #000000;
    font-weight: 500;

}

.register_btn {
    background-color: #fe9e0d;
    color: #000000;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    bottom: 40px;
    width: 100px;
    height: 40px;

}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.register_btn:hover {
    transform: scale(1.25);
}

.services {
    height: 200px;
    padding-left: 0;
}

.pricing_item {
    height: 400px;
}

.pricing_item:hover {
    transform: scale(1.05);
}

section {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: transparent;
}

section::before {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: transparent;

}